@(form: Form[Authentication.Login])

@helper.form(routes.Authentication.loginUser,'class -> "form-horizontal") {
  <fieldset>
    <legend>@Messages("login")</legend>
    @if(form.hasGlobalErrors) { 
      <p class="alert alert-error">
        @form.globalError.message
      </p>
    }
    <div class="control-group">
      <label class="control-label">@Messages("email")*:</label>
      <div class="controls"><input type="text" name="email" /></div>
    </div>
    <div class="control-group">
      <label class="control-label">@Messages("password")*:</label>
      <div class="controls"><input type="password" name="password" /></div>
    </div>
    <div class="control-group">
      <label class="control-label">@Messages("remember")?:</label>
      <div class="controls"><input name="rememberMe" type="checkbox" /></div>
    </div>
    <button type="submit" class="btn btn-primary btn-large">@Messages("login")</button>
  </fieldset>
}