@(loginForm: Form[Authentication.Login])

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@helper.form(routes.Authentication.loginUser,'class -> "form-horizontal") {
  <fieldset>
    <legend>@Messages("login")</legend>
    @if(loginForm.hasGlobalErrors) { 
      <p class="alert alert-error">
        @loginForm.globalError.message
      </p>
    }
    @inputText(
        loginForm("email"),
        '_label -> Messages("email"),
        '_required -> true
    )
    @inputPassword(
        loginForm("password"),
        '_label -> Messages("password"),
        '_required -> true
    )
    <div class="control-group">
      <label class="control-label">@Messages("remember")?:</label>
      <div class="controls"><input name="rememberMe" type="checkbox" /></div>
    </div>
    <button type="submit" class="btn btn-primary btn-large">@Messages("login")</button>
  </fieldset>
}