@(loginForm: Form[Authentication.Login])

@import helper._
@import helper.twitterBootstrap._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@helper.form(routes.Authentication.loginUser,'class -> "form-horizontal") {
  <fieldset>
    <legend>@Messages("login")</legend>
    @if(loginForm.hasGlobalErrors) { 
      <p class="alert alert-error">
        @loginForm.globalError.message
      </p>
    }
    @inputText(
        loginForm("email"),
        '_label -> Messages("email"),
        '_required -> true
    )
    @inputPassword(
        loginForm("password"),
        '_label -> Messages("password"),
        '_required -> true
    )
    @checkbox(
        loginForm("rememberme"),
        '_label -> Messages("remember"),
        '_required -> true
    )
    <button type="submit" class="btn btn-primary btn-large">@Messages("login")</button>
  </fieldset>
}