@(registerForm: Form[Authentication.Register])

@import helper._
@import helper.twitterBootstrap._


@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@helper.form(routes.Authentication.registerUser,'class -> "form-horizontal") {
  <fieldset>
    <legend>@Messages("register")</legend>
    @if(registerForm.hasGlobalErrors) { 
      <p class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        @loginForm.globalError.message
      </p>
    }
    @inputText(
        registerForm("email"),
        '_label -> Messages("email"),
        '_required -> true
    )
    @inputPassword(
        registerForm("password"),
        '_label -> Messages("password"),
        '_required -> true
    )
    @inputPassword(
        registerForm("repassword"),
        '_label -> Messages("repassword"),
        '_required -> true
    )
    <button class="btn btn-primary btn-large" onClick="register(this); return false;">@Messages("register")</button>
  </fieldset>
}