@(registerForm: Form[Authentication.Register])

@import helper._
@import helper.twitterBootstrap._

@helper.form(routes.Authentication.registerUser,'class -> "form-horizontal") {
  <fieldset>
    <legend>@Messages("register")</legend>
    @if(registerForm.hasErrors) { 
      <p class="alert alert-error">
        @registerForm.errors.values().map { errors =>
            @errors.map { error =>
              @error.message <br/>
            }
        }
      </p>
    }
    <div class="control-group">
      <label class="control-label">@Messages("email")*:</label>
      <div class="controls">
            @inputText(
                registerForm("email"),
                '_label -> "",
                '_help -> ""
            )
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">@Messages("password")*:</label>
      <div class="controls">
            @inputPassword(
                registerForm("password"),
                '_label -> "",
                '_help -> ""
            )
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">@Messages("repassword")*:</label>
      <div class="controls">
            @inputPassword(
                registerForm("repassword"),
                '_label -> "",
                '_help -> ""
            )
      </div>
    </div>
    <button class="btn btn-primary btn-large" onClick="register(this); return false;">@Messages("register")</button>
  </fieldset>
}