@(task : Task)

<div class="well task span8 checkboxParent custom" id="taskid_@task.id">
  <input class="taskbox" type="checkbox" @if(task.finished) {checked} id="task_@task.id"  name="finished"  data-task="@task.id" />
  <label class="checkbox toggle" for="task_@task.id"></label>
  <span>
    <span class="taskTitle">@task.title</span>
    <input type="text" class="span6" name="title" style="display:none;" value="@task.title" />
    <input type="text" name="dueDate" style="display:none;" value="@task.niceDueDate" id="due_@task.id"/>
    <i class="icon icon-trash"></i>
    <i class="icon icon-edit"></i>
    <a data-toggle="modal" href="#modalTask_@task.id" class="comment @if(task.description == null || task.description.length == 0) { inactive }"><i class="icon icon-comment"></i></a>
    @if(task.dueDate != null) { <span class="icon time">@task.niceDueDate</span> } else { <i class="icon icon-time time"></i> }
  </span>

  <!-- comment modal dialog -->
  <div class="modal fade" id="modalTask_@task.id" style="display: none;">
    <div class="modal-header">
      <button class="close reset" data-dismiss="modal">×</button>
      <h3>@Messages("task.description.title")</h3>
    </div>
    <div class="modal-body">
      <p>
        @views.html.todo.descriptionPanel(task, new Form[Tasks.Description](classOf[Tasks.Description]))
      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn reset" data-dismiss="modal">@Messages("close")</a>
      <a href="#" class="btn btn-primary save">@Messages("save.changes")</a>
    </div>
  </div>
</div>