@(task : Task)

@import helper._
@import helper.twitterBootstrap._

<div class="well task span8 checkboxParent custom" id="taskid_@task.id">
  <input class="taskbox" type="checkbox" @if(task.finished) {checked} id="task_@task.id"  name="finished"  data-task="@task.id" />
  <label class="checkbox toggle" for="task_@task.id"></label>
  <span>
    <span class="taskTitle">@task.title</span>
    <input type="text" class="span6" name="title" style="display:none;" value="@task.title" />
    <input type="text" name="dueDate" style="display:none;" value="@task.niceDueDate" id="due_@task.id"/>
    <i class="icon icon-trash"></i>
    <i class="icon icon-edit"></i>
    <i class="icon icon-comment"></i>
    @if(task.dueDate != null) { <span class="icon time">@task.niceDueDate</span> } else { <i class="icon icon-time time"></i> }
  </span>
</div>