@(task : Task)

@import helper._
@import helper.twitterBootstrap._

<div class="well task span8 checkboxParent custom" id="taskid_@task.id">
  <input class="taskbox" type="checkbox" @if(task.finished) {checked} id="task_@task.id"  name="finished"  data-task="@task.id" />
  <label class="checkbox toggle" for="task_@task.id"></label>
  <span>
    <span class="taskTitle">@task.title</span>
    <input type="text" class="span6" style="display:none;" value="@task.title" />
    <i class="icon icon-trash"></i>
    <i class="icon icon-edit"></i>
    <i class="icon icon-time"></i>
  </span>
</div>