@(projects : List[Project])

@scripts = {
  <script type="text/javascript" src='@routes.Assets.at("javascripts/list.js")'></script>
}

@navigation = {
  <li class="menu_index"><a href="#" >@Messages("logout")</a></li>
}

@main(scripts, navigation) {
  <div class="row">
    <div class="span9">
      @Messages("hello")
    </div>
    <div class="span3">
      <h2>@Messages("projects.title")</h2>
      <br/>
      <button wicket:id="addLink" class="btn btn-primary btn-large">@Messages("project.add")</button>
      <br/><br/>
      <ul class="side nav nav-tabs nav-stacked">
        @projects.map { project =>
        <li>
          <a href="#" onClick="return false;">
            <span>@project.name</span>
            <input type="text" onChange="" style="display:none;" value="@project.name" />
            <i style="float: right;" class="icon-trash" wicket:id="delete"></i>
            <i style="float: right;" class="icon-edit" onClick="toggleText(this); return false;"></i>
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
}