@(projects : List[Project], selectedProject: Project)

@scripts = {
  <script type="text/javascript" src='@routes.Assets.at("javascripts/list.js")'></script>
}

@navigation = {
  <li class="menu_index"><a href="@routes.Authentication.logout()" >@Messages("logout")</a></li>
}

@main(scripts, navigation) {
  <div class="row">
    <div class="span9 taskList">
      @views.html.todo.taskListPanel(selectedProject)
    </div>
    <div class="span3">
      <h2>@Messages("projects.title")</h2>
      <br/>
      <button onClick="addProject($(this).siblings('.projects'))" class="btn btn-primary btn-large">@Messages("project.add")</button>
      <br/><br/>
      <div class="projects">
        @views.html.todo.projectListPanel(projects, selectedProject)
      </div>
    </div>
  </div>
}